* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle at top, #0f172a, #020617);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CONTAINER */
.container {
    display: flex;
    gap: 40px;
    padding: 30px;
    max-height: 100vh;
    align-items: stretch;
}


/* CARD */
.card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(18px);
    width: 440px;
    padding: 28px;
    border-radius: 26px;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
    height: 680px;
    display: flex;
    flex-direction: column; 
}

/* HEADINGS */
h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 24px;
    color: #38bdf8;
    letter-spacing: 1px;
}

/* INPUT */
input {
    width: 100%;
    height: 52px;
    padding: 12px;
    font-size: 16px;
    border-radius: 14px;
    border: none;
    background: rgba(15, 23, 42, 0.9);
    color: #e5e7eb;
    margin-bottom: 22px;
}

input::placeholder {
    color: #94a3b8;
}

input:focus {
    outline: 2px solid #38bdf8;
}

/* BUTTON GRIDS */
.buttons,
.string-buttons {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 14px;
    width: 100%;
}


/* BUTTONS */
button {
    height: 48px;
    border: none;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: #020617;
    background: linear-gradient(135deg, #38bdf8, #22d3ee);
    transition: all 0.25s ease;
}

button:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px #38bdf8;
}

/* STRING RESULT */
#stringResult {
    margin-top: auto;
    padding: 18px;
    background: rgba(56, 189, 248, 0.15);
    border-radius: 16px;
    text-align: center;
    font-size: 15px;
    color: #e0f2fe;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
    .container {
        flex-direction: column;
        transform: scale(1);
    }
}
.num {
    background: linear-gradient(135deg, #38bdf8, #22d3ee);
}

.op {
    background: linear-gradient(135deg, #a78bfa, #7c3aed);
}

.bracket {
    background: linear-gradient(135deg, #34d399, #10b981);
}

.trig {
    background: linear-gradient(135deg, #fbbf24, #f59e0b);
}

.adv {
    background: linear-gradient(135deg, #fb7185, #f43f5e);
}

.clear {
    background: linear-gradient(135deg, #ef4444, #dc2626);
}

.delete {
    background: linear-gradient(135deg, #facc15, #eab308);
}

.equal {
    background: linear-gradient(135deg, #0800ff, #2200ff);
}
body {
    overflow: hidden;
}
.card {
    overflow: hidden;
}

